<div class="row">
  <%= image_tag user.photo style: 'height:50px;width:50px' %>
  <div class="user_info">
    <h2><%= user.name %></h2>
    Number of Posts: <%= user.posts_counter || 0 %>
  </div>
</div>