<%= render partial: 'shared/user', object: @user %>

<div class="bio">
  Bio

  <%= @user.bio %>
</div>

<div class="posts">
  <%= render partial: 'shared/post', collection: @posts %>
</div>

<%= link_to "See All Posts", user_posts_path(@user), class: "btn" %>