<div class="grid">
  <%= render partial: 'shared/user', object: @user %>

  <div class="sketchy text_box">
    <h3>Bio</h3>
    <%= @user.bio %>
  </div>

  <div class="posts grid">
    <%= render partial: 'shared/post', collection: @posts %>
  </div>

  <%= see_all_btn %>
</div>