<%= link_to [post.user, post], :action => 'go' do %>
  <div class="post sketchy text_box">
    <h3><%= post.title %></h3>
    <%= truncate(post.text, :length => 118) %>
    <%= render partial: 'shared/comments_likes', locals: { post: post } %>
  </div>
<% end %>
