<div class="fullpage grid">
  <%= render partial: 'shared/user', object: @user %>

  <% @posts.each do |post| %>
    <%= render partial: 'shared/post', object: post %>
    <%= list_comments(post.comments) %>
  <% end %>
</div>
