<div class="grid">
  <%= render partial: 'shared/user', object: @user %>

  <% @posts.each do |post| %>
    <%= render partial: 'shared/post', object: post %>
    <%= render partial: 'shared/comments', object: post.recent_comments %>
  <% end %>
</div>
