<div class="user header">
  <%= render partial: 'shared/user', object: @user %>
</div>

<% @posts.each do |post| %>
  <%= render partial: 'shared/post', object: post %>
  <%= render partial: 'shared/comments', object: post.recent_comments %>
<% end %>
